:root {
  --clr: #222327;
  --textClr: #fff;
  --activeClr: #29fd53;
}

.navigation {
  position: relative;
  width: 50%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5d5d5f;
  border-radius: 20px;
  margin-top: 40px;  
  min-width: 500px;
}

.navigation .list {
  display: flex;
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
}

.navigation .list .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation .list .container .icon {
  position: relative;
  display: block;
  line-height: 75px; /* 35*/
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
  z-index: 1;
}

.navigation .list.active .container .icon {
  transform: translateY(-30px);
}

.navigation .list .container .text { 
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation .list.active .container .text { 
  opacity: 1;
  transform: translateY(10px);
  color: var(--textClr)
}

.indicator {
  position: absolute;
  margin-left: -350px;
  top: -50%;
  width: 70px;
  height: 70px;
  background: var(--activeClr);
  border-radius: 50%;
  border: 4px solid #fff;
  transition: 0.5s;
}

.indicator::before {
  content: ' ';
  position: absolute;
  top: 31px;
  left: -20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -11px 0 0 #fff;
}

.indicator::after {
  content: ' ';
  position: absolute;
  top: 31px;
  right: -20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -11px 0 0 #fff;
}

.navigation .list:nth-child(1).active ~ .indicator{
  transform: translateX(calc(70px * 0));
}

.navigation .list:nth-child(2).active ~ .indicator{
  transform: translateX(calc(70px * 1));
}

.navigation .list:nth-child(3).active ~ .indicator{
  transform: translateX(calc(70px * 2));
}

.navigation .list:nth-child(4).active ~ .indicator{
  transform: translateX(calc(70px * 3));
}

.navigation .list:nth-child(5).active ~ .indicator{
  transform: translateX(calc(70px * 4));
}

.navigation .list:nth-child(6).active ~ .indicator{
  transform: translateX(calc(70px * 5));
}