.btn {
  /* position: relative;*/
  /* width: 150px;
  height: 50px;  */
}

.btn a { 
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  /* width: 100%;
  height: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background: rgb(255, 255, 255, 0.05);
  box-shadow:  0 15px 35px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 30%;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;  
}

.btn:hover a { 
  letter-spacing: 3px;
}

.btn a::before { 
  content: '';
  
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 50%;
  height: 100px;
  background: linear-gradient(to left, rgba(185, 18, 18, 0.15), transparent);
  transform: skewX(45deg) translateX(0)
}